body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #dadada;
}
header {
    width: 50cm;
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
}
header a{
    color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    background-color: beige;
}
th {
    background-color: #333;
    color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;

}
.Login {
    background-color: rgb(247, 247, 234);
    width: 400px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.reporte
{
    background-color: #333;
    color: white;
    text-align: center;
    border: 1px solid black;
    text-align: center;
    width: 500px;
    padding: 30px;
    margin: 110px;
}
.reporte textarea
{
    width: 300px;
    height: 80px;
    resize: none;
}
